h1 {
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: sans-serif;
    background-color: #f6f6f6;
    width: 500px;
    margin-left: 32.5%;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

body{
    background-image: url("../images/cheesy.jpg");
    background-repeat: repeat;
    background-size: cover;
}


canvas{
    background-color: #f6f6f6;
}
