h1 {
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: sans-serif;
    background-color: #f6f6f6;
    width: 500px;
    margin-left: 32.5%;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

body{
    background-image: url("../images/cheesy.jpg");
    background-repeat: repeat;
    background-size: cover;
}


canvas{
    background-color: #f6f6f6;
}

.replay{
    font-size: 40px;
    font-weight: bold;
    color: orangered;
    top: 0;
}

button{
    margin-left: 40%;
}

.play{
    background-color: #f6f6f6;
    color: black;
    width: 400px;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.play h2{
    font-size: 30px;
    font-weight: bold;
}

.play p{
    font-size: 20px;
}